<div>
    <mat-form-field [appearance]="state.constructor.name === 'ArticleNewState' || state.constructor.name === 'ArticleEditableState' ? 'standard' : 'none'">
        <mat-label *ngIf="state.constructor.name === 'ArticleNewState' || state.constructor.name === 'ArticleEditableState'">
            Title
        </mat-label>

        <input matInput
               [(ngModel)]="article.title"
               [readonly]="state.constructor.name === 'ArticleCreatedState' || state.constructor.name === 'ArticleDeletedState'"
               placeholder="Ex. ASP.Net Core Web API with Docker Compose, PostgreSQL and EF Core.">
    </mat-form-field>

    <mat-form-field [appearance]="state.constructor.name === 'ArticleNewState' || state.constructor.name === 'ArticleEditableState' ? 'standard' : 'none'">
        <mat-label *ngIf="state.constructor.name === 'ArticleNewState' || state.constructor.name === 'ArticleEditableState'">
            Content
        </mat-label>

        <textarea matInput
                  [(ngModel)]="article.body"
                  [readonly]="state.constructor.name === 'ArticleCreatedState' || state.constructor.name === 'ArticleDeletedState'"
                  placeholder="Ex. In this article .."
                  cdkTextareaAutosize>
    </textarea>
    </mat-form-field>

    <div class="menu-panel">
        <button class="btn btn-primary" (click)="navigateToArticles()">Back</button>
        <button class="btn btn-primary" (click)="createArticle()" *ngIf="(authorizeService.isUserAuthenticated === true) && (state.constructor.name === 'ArticleNewState')">Create</button>
        <button class="btn btn-primary" (click)="editArticle()" *ngIf="(authorizeService.isUserAuthenticated === true) && (state.constructor.name === 'ArticleCreatedState')">Edit</button>
        <button class="btn btn-primary" (click)="updateArticle()" *ngIf="(authorizeService.isUserAuthenticated === true) && (state.constructor.name === 'ArticleEditableState')">Save</button>
        <button class="btn btn-primary" (click)="deleteArticle()" *ngIf="(authorizeService.isUserAuthenticated === true) && (state.constructor.name === 'ArticleCreatedState')">Delete</button>
    </div>

    <app-comment *ngIf="state.constructor.name !== 'ArticleNewState'"></app-comment>
</div>
