.mat-form-field {
  width: 100%;
  display: block;
}

textarea.mat-input-element {
  overflow: hidden;
  line-height: 1.5;
  text-align: justify;
  color: #37474f;
}

::ng-deep.mat-form-field-flex {
  background: transparent !important;
}

.mat-form-field-label {
  color: purple !important;
}

.mat-form-field-underline {
  background-color: purple !important;
}

.menu-panel > .btn {
  margin-right: 20px;
}

.menu-panel {
  margin-top: 20px;
}

input[readonly] {
  font-size: 1.2rem;
  text-align: center;
  font-weight: 400;
}

input[readonly], textarea[readonly] {
  border: none;
  background: transparent;
}
