<div>
  <input id="title"
         type="text"
         class="form-control"
         [(ngModel)]="article.title"
         [readonly]="isReadonly"
         placeholder="Enter title">

  <textarea class="form-control"
            [readonly]="isReadonly"
            [(ngModel)]="article.body"
            placeholder="Enter body"
            rows="15">
  </textarea>

  <div>
    <button class="btn btn-primary" (click)="navigateToArticles()">Back</button>
    <button class="btn btn-primary" (click)="createArticle()" *ngIf="article.account === null">Create</button>
    <button class="btn btn-primary" (click)="updateArticle()" *ngIf="article.account !== null && isReadonly">Edit</button>
    <button class="btn btn-primary" (click)="updateArticle()" *ngIf="article.account !== null && !isReadonly">Save</button>
    <button class="btn btn-primary" (click)="deleteArticle()" *ngIf="article.account !== null && isReadonly">Delete</button>
  </div>
</div>
