.navbar-header {
    position: relative;
    top: -4px;
}

.navbar-brand > .icon-banner {
    position: relative;
    top: -2px;
    display: inline;
}

.icon {
    position: relative;
    top: -10px;
}

.logged-out iframe {
    display: none;
    width: 0;
    height: 0;
}

.navbar {
    padding: 10px 10px 20px 10px;
    background: #0086d9;
}

.navbar-fixed-top {
    border: 0px;
}

.body-content {
    margin-top: 100px;
}

.error-details {
    margin-top: 2rem;
}

.btn-submit {
    width: 100%;
}

.btn-group-identity-provider {
    margin: 2rem 0px;
    width: 100%;
}

.text-divider {
    position: relative;
    display: block;
    text-align: center;
    line-height: 2;
    color: #546e7a;

    &:before,
    &:after {
        border-top: 1px solid #90a4ae;
        display: block;
        height: 1px;
        content: " ";
        width: 40%;
        position: absolute;
        left: 0;
        top: 1.2em;
    }

    &:after {
        right: 0;
        left: auto;
    }
}

.page-consent {
    .client-logo {
        float: left;

        img {
            width: 80px;
            height: 80px;
        }
    }

    .consent-buttons {
        margin-top: 25px;
    }

    .consent-form {
        .consent-scopecheck {
            display: inline-block;
            margin-right: 5px;
        }

        .consent-scopecheck[disabled] {
            //visibility:hidden;
        }

        .consent-description {
            margin-left: 25px;

            label {
                font-weight: normal;
            }
        }

        .consent-remember {
            padding-left: 16px;
        }
    }
}

.grants {
    .page-header {
        margin-bottom: 10px;
    }

    .grant {
        margin-top: 20px;
        padding-bottom: 20px;
        border-bottom: 1px solid lightgray;

        img {
            width: 100px;
            height: 100px;
        }

        .clientname {
            font-size: 140%;
            font-weight: bold;
        }

        .granttype {
            font-size: 120%;
            font-weight: bold;
        }

        .created {
            font-size: 120%;
            font-weight: bold;
        }

        .expires {
            font-size: 120%;
            font-weight: bold;
        }

        li {
            list-style-type: none;
            display: inline;

            &:after {
                content: ', ';
            }

            &:last-child:after {
                content: '';
            }

            .displayname {
            }
        }
    }
}
