<body>
    <nav class="navbar navbar-expand-md navbar-light bg-light" style="background-color: #eeeeee; box-shadow: 1px 1.5px 2px lightgray;">

        <span [routerLink]='["/"]' class="navbar-brand">Infotecs Magazine</span>
        <button class="navbar-toggler" type="button" aria-controls="navbarContent" [attr.aria-expanded]="!collapsed"
            aria-label="Toggle navigation" (click)="collapsed = !collapsed">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="navbar-collapse" [class.collapse]="collapsed" id="navbarContent">
            <button [routerLink]='["articles/create"]' type="button" class="btn btn-outline-primary" *ngIf="authorizeService.isUserAuthenticated">Write Article</button>

            <ul class="navbar-nav ml-auto" *ngIf="!(isAuthenticated | async)">
                <li class="nav-item text-center" id="signup-btn">
                    <a [routerLink]='["authentication/register"]' href="#" class="nav-link" data-toggle="modal" data-target="#"><span class="fa fa-user"></span><span class="d-none d-sm-inline d-xl-block px-1">Sign Up</span></a>
                </li>
                <li class="nav-item text-center" id="login-btn">
                    <a [routerLink]='["authentication/login"]' href="#" class="nav-link" data-toggle="modal" data-target="#"><span class="fa fa-sign-in"></span><span class="d-none d-sm-inline d-xl-block px-1">Log In</span></a>
                </li>
            </ul>

            <ul class="navbar-nav ml-auto" *ngIf="isAuthenticated | async">
                <li class="nav-item" ngbDropdown display="dynamic" placement="bottom-right">
                    <a class="nav-link" style="cursor: pointer" ngbDropdownToggle id="navbarDropdown" role="button">
                        {{ userName | async }}
                    </a>
                    <div ngbDropdownMenu aria-labelledby="navbarDropdown" class="dropdown-menu">
                        <a [routerLink]='["authentication/profile"]' ngbDropdownItem href="#" (click)="$event.preventDefault()">Profile</a>
                        <mat-divider></mat-divider>
                        <a [routerLink]='["authentication/logout"]' ngbDropdownItem href="#" (click)="$event.preventDefault()">Logout</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container">
        <router-outlet></router-outlet>
    </div>
</body>
