<div>
  <input id="title"
         type="text"
         class="form-control"
         [(ngModel)]="article.title"
         [readonly]="isReadonly"
         placeholder="title">

  <textarea class="form-control"
            [readonly]="isReadonly"
            [(ngModel)]="article.body"
            rows="15">
            {{ article.body }}
  </textarea>

  <div>
    <button class="btn btn-primary" (click)="navigateToArticles()">Back</button>
    <button class="btn btn-primary" (click)="updateArticle()">{{ updateButtonName }}</button>
    <button class="btn btn-primary" (click)="deleteArticle()">Delete</button>
  </div>
</div>
